@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    
    
    
}

header
{
    background-image: url("./img/Design\ sem\ nome.png");
    height: 1000px;
}

.logo 
{
    width: 50%;
}

.nav-link
{
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
}

h4 
{
    font-weight: 700;
}

p 
{
    font-size: 1.3rem;
}

.accordion 
{
    border-bottom: solid 1px;
    padding-left: 2%;
    
}

footer
{
    text-align: center;
    margin-top: 5%;
}

.redes 
{
    display: flex;
    justify-content: center;
}

/*-------------------------Mobile Version--------------*/

@media screen and (max-width: 480px) 
{
    header {
        background-size: cover;
        height: 200px;
        
        
        


    }

    .navbar-brand
    {
        display: none;
    } 
}